<app-list-table-v2
  #listTable
  pageTitle="LNG_PAGE_LIST_SYSTEM_SYNC_LOGS_TITLE"
  [records$]="records$"
  [processSelectedData]="processSelectedData"
  [columnActions]="tableColumnActions"
  [columns]="tableColumns"
  [breadcrumbs]="breadcrumbs"
  [quickActions]="quickActions"
  [groupActions]="groupActions"
  [addAction]="addAction"
  [groupedData]="groupedData"
  [pageCount]="pageCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSettingsKey]="UserSettings.SYNC_LOGS_FIELDS"
  [sortColumn]="tableSortBy"
  [infos]="infos"
  [suffixLegends]="suffixLegends"
  [filtersApplied]="filtersApplied"
  [advancedFilterType]="undefined"
  [advancedFilters]="advancedFilters"
  (refreshData)="needsRefreshList(true)"
  (refreshDataCount)="refreshListCount(false)"
  (pageChange)="changePage($event)"
  (sortBy)="sortBy($event)"
  (filterBy)="filterBy($event)"
  (resetHeaderFilters)="resetFiltersToSideFilters()"
  (advancedFilterBy)="applySideFilters($event)">

  <!-- What this page is for & how it works -->
  <app-info-banner-v2
    storageKey="system-sync-logs"
    icon="history"
    heading="LNG_PAGE_LIST_SYSTEM_SYNC_LOGS_INFO_TITLE"
    description="LNG_PAGE_LIST_SYSTEM_SYNC_LOGS_INFO_DESCRIPTION"
    stepsTitle="LNG_INFO_BANNER_STEPS_TITLE"
    [steps]="infoBannerSteps"
    [notes]="infoBannerNotes"
    [accordions]="infoBannerAccordions"
    (resized)="listTable.resizeTable()">
  </app-info-banner-v2>

</app-list-table-v2>
